html {
    text-align: center;
    width: 600px;
    margin: auto;
}

a {
    text-decoration: none;
}

#home {
    position: absolute;
    left: 50px;
    top: 50px;
}

.row {
    height: auto;
    text-align: center;
    margin: 10px;
}

.product {
    height: auto;
    text-align: center;
    margin: 100px;
}

.product_row {
    display: inline-block;
    height: auto;
    text-align: center;
    margin: 10px;
    display: block;
}

img {
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

img.iphone {
    transform: scale(1);
}

img.iwatch,
img.airpods {
    transform: scale(0.6);
}

.product_card {
    margin: 15px 0 5px 0;
    width: auto;
    height: fit-content;
    width: 350px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 25px;
    display: inline-block;
}

div.detail {
    background: rgba(255, 255, 255, 1);
}

.red {
    color: red;
}

.blue {
    color: blue;
}